---
import "../styles/global.css";
import OpcionButton from "./OpcionButton.jsx";
import PlataformaLogueo from "./PlataformaLogueo.astro";
---

<main
  class="container mx-auto flex justify-center items-center text-center rounded-2xl min-h-screen"
>
  <div
    class="flex flex-col lg:flex-row bg-white shadow-md rounded-2xl overflow-hidden transition ease-in"
  >
    <!-- Texto -->
    <div
      class="flex-1 flex flex-col justify-center items-center p-12 lg:p-0 text-center transition ease-in"
    >
      <h1 class="text-3xl font-bold mb-1 truncate">Welcome Back</h1>
      <h2 class="text-gray-400 truncate mb-6">
        Welcome Back, Please enter your details
      </h2>
      <div class="w-full max-w-sm">
        <OpcionButton client:load />
        <PlataformaLogueo />
      </div>
    </div>

    <!-- Imagen -->
    <div
      class="flex-1 hidden lg:flex justify-center items-center transition ease-in"
    >
      <img src="/bank.jpg" alt="bank" class="w-full h-full object-cover" />
    </div>
  </div>
</main>
